<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.client.vote" android:versionCode="2" android:versionName="1.0">
    <uses-sdk android:minSdkVersion="19"/>

    <uses-permission android:name="android.permission.INTERNET"/>
   <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher">
        <activity android:name="HomePageActivity" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        

        <activity android:name=".AnchorSummaryActivity" android:label="Anchor Summary"/>
        <activity android:name="SignTabActivity" android:label="@string/app_name"/>
        <activity android:name=".CampaignSummaryActivity" android:label="@string/app_name"/>
        <activity android:name="InsightActivity" android:label="@string/app_name"/>
        <activity android:name="ProfileActivity" android:label="@string/app_name"/>
        <activity android:name="RegisterActivity" android:label="@string/app_name"/>
        <activity android:name=".RegretActivity" android:label="@string/cancel"/>
        <activity android:name=".ForgetPasswordActivity" android:label="@string/forget_password"/>
        <activity android:name=".NewAnchorActivity" android:label="@string/new_anchor"/>
        <activity android:name=".NewCampaignActivity" android:label="@string/new_campaign"/>
        <activity android:name=".RewardActivity" android:label="@string/new_reward"/>
   
         <activity android:name=".GraphActivity" android:label="@string/new_reward"/>
         <activity
            android:name=".ActivityStack"
            android:label="tab" >
        </activity>
  <activity android:name="org.achartengine.GraphicalActivity" />
    </application>
</manifest>
